<legend>Uploaded Files</legend>

<table class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <th>File</th>
      <th>Raw Size</th>
      <th>Size</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= uploaded_file.file_name %></td>
        <td><%= uploaded_file.file_size %></td>
        <td><%= uploaded_file.human_size %></td>
        <td><%= link_to 'Edit', edit_uploaded_file_path(uploaded_file) %></td>
        <td><%= link_to 'Destroy', uploaded_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload New File', new_uploaded_file_path, class: 'btn btn-primary' %>
